.details {
  text-align: center;
  min-height: 100vh;

  .header-btn {
    display: flex;
    padding: 1em;
    border-bottom: 1px solid #ececec;
    align-items: center;
    // background-color: #fff;

    .header-arrow-left {
      z-index: 9;
    }

    .header-title {
      display: flex;
      align-items: center;
      width: 100vw;
      justify-content: space-between;

      div {
        color: rgb(73, 73, 73);
      }

      .title-name {
        width: 52.5vw;
        font-size: 17px;
        font-weight: 600;
        text-align: right;
      }

      .my-rank {
        font-weight: 600;
        font-size: 15px;
        padding: 0 0 0 2.8em;
      }

      .active {
        font-size: 20px;
        font-weight: 600;
        color: rgb(73, 73, 73);
      }
    }
  }
  .status-img {
    position: absolute;
    top: -6px;
    right: 30px;
    width: 5.4em;
  }
  // .banner-bg {
  //   // background: url("../images/details_bg.png");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: 0 -50px;
  //   height: 90vw;

  //   .status-img {
  //     position: absolute;
  //     right: 0;
  //     height: 1.7em;
  //     z-index: 2;
  //   }
  // }

  .info-rule {
    // margin-top: -100px;
    padding-bottom: .5em;


    .start-btn {
      padding: 0.9em 0 1em;

      img {
        display: block;
        margin: 0 auto;
      }

      .hr-border {
        height: 0.5em;
        margin-top: 2em;
      }
    }
    .banner-msg {
      height: 3.7em;
      max-width: 90vw;
      line-height: 3.7em;
      position: relative;
      margin-bottom: 4px;
      margin: auto;
      background: url("../images/rank_msg.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      span {
        color: #FFE8A0;
        font-size: 17px;
      }
    }

    .activity-time {
      color: #dcdcdc;
      font-size: 0.8em;
      font-weight: 500;
      display: inline-block;
      margin: 1em auto;
    }
  }
  .info-rank {
    .table-bonus {
      th, td {
        text-align: left;

      }
      .el-table table tbody {
        tr {
          td {
            padding: 4px;
            font-size: 13px;
            color: #464646;
            &:first-child {
              color: #1D0401;
              background-color: #FBD3D4;
            }
          }
        }
      }
      .el-table__header-wrapper th{
        background-color: #821516;
      }
    }
  }
    
  table.rule-table{
    margin-top: 8px;
    tr td {
      padding: 13px 0.5em;
    }
    tr {
      &:nth-child(odd) {
        background-color: #821516;
        color: #fff;
      }

      &:nth-child(even) {
        background-color: #fff;
      }

      td {
        font-size: 13px;
        vertical-align: middle;
        line-height: 15px;
      }

      .rule-title {
        width: 9em;
        text-align: left;
      }

      .rule-content {
        text-align: left;
      }
    }
  }

  .hr-border {
    height: 0.5em;
    padding: 2em 0;
  }

  .details-caption {
    color: #fff;
    text-align: left;
    font-size: 13px;
    padding: 1.3em 0 0 0;
    line-height: 18px;
    letter-spacing: 0.04em;
  }

  .details-rule-msg {
    // padding-bottom: 1em;
    .title-img {
      background: url("../images/title_list.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 2.2em;
      line-height: 2.3em;
      margin-bottom: 5px;

      span {
        color: #fff;
        font-size: 14px;
      }
    }

    ul {
      padding: 1em 0;

      li {
        text-align: left;
        padding: 0 0 1em 0;
        font-size: 13px;
        line-height: 1.6em;
        color: #fff;
        letter-spacing: 0.04em;
      }
    }

    .heading {
      width: auto;
      height: 2.5em;
      line-height: 2.5em;
      color: #984f45;
      font-size: 13px;
      background-color: #ebc9b5;
    }
    .details-table {
      color: #000;
      .el-table__header {
        thead {
          tr,
          th {
            background-color: #984f45 !important;
            font-size: 13px;
            color: #fff;
          }
        }
      }
      .el-table__body {
        tbody {
          tr {
            background-color: #fff;
            &:first-child{
            }
            .cell {
              font-size: 13px;
              line-height: 1.4em;
              color: #464646;
            }
            td:first-child, &:first-child td:nth-child(3) {
              background-color: #F0E5DE;
            }
            td {
              border-bottom: 1px solid #ADA7A7;
              color: #000;
              padding: 6px 4px;
            }
          }
        }
      }
    }


  }

  .el-table__body-wrapper {
    color: #333;
  }
  
  .el-table th {
    background-color: #821516;
    color: #fff;
    padding: 5px;
    font-size: 13px;
  }
  
  .el-table_1_column_1 {
    background-color: rgb(149, 203, 248);
  }
  
  .el-table td,
  .el-table th.is-leaf {
    border-bottom: 1px solid #898a8d;
  }
  
  .point {
    color: #FA6400;
  }
}
