.details {
  min-height: 100vh;
  background-color: #050E1F;
  text-align: center;

  .header-btn {
    display: flex;
    padding: 1em;
    border-bottom: 1px solid #ececec;
    align-items: center;
    background-color: #fff;

    .header-arrow-left {
      z-index: 9;
    }

    .header-title {
      display: flex;
      align-items: center;
      width: 100vw;
      justify-content: space-between;

      div {
        color: rgb(73, 73, 73);
      }

      .title-name {
        width: 52.5vw;
        font-size: 17px;
        font-weight: 600;
        text-align: right;
      }

      .my-rank {
        font-weight: 600;
        font-size: 15px;
        padding: 0 0 0 2.8em;
      }

      .active {
        font-size: 20px;
        font-weight: 600;
        color: rgb(73, 73, 73);
      }
    }
  }

  .banner-bg {
    background: url("../images/details_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -50px;
    height: 90vw;

    .status-img {
      position: absolute;
      right: 0;
      height: 1.7em;
      z-index: 2;
    }
  }

  .activity-msg {
    margin-top: -100px;
    padding-bottom: 30px;

    .banner-msg {
      height: 3.7em;
      max-width: 90vw;
      line-height: 3.7em;
      position: relative;
      margin-bottom: 4px;
      margin: auto;
      background: url("../images/rank_msg.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;

      span {
        color: #FFE8A0;
        font-size: 17px;
      }
    }

    .activity-time {
      color: rgb(179, 178, 178);
      font-size: 12px;
      font-weight: 500;
    }

    .start-btn {
      padding: 1.5em 0 2em 0;

      img {
        display: block;
        margin: 0 auto;
      }

      .hr-border {
        height: 0.5em;
        margin-top: 2em;
      }
    }
  }

  .details-msg {
    padding: 0 1.3em 6em;
    background-color: #050E1F;
    text-align: center;
    
    .table-bonus {
      .el-table table tbody {
        tr {
          td {
            padding: 4px;
            font-size: 13px;
            color: #464646;
            &:first-child {
              color: #1D0401;
              background-color: #D5E5FC;
            }
          }
        }
      }
    }
    table.rule-info{
      margin-top: 8px;
      tr td {
        padding: 13px 0.5em;
      }
    }

    .hr-border {
      height: 0.5em;
      padding: 2em 0;
    }

    .details-caption {
      color: #fff;
      text-align: left;
      font-size: 13px;
      padding: 1.3em 0 0 0;
      line-height: 18px;
      letter-spacing: 0.04em;
    }

    .details-rule-msg {
      padding-bottom: 1em;
      .title-img {
        background: url("../images/title_list.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 2.2em;
        line-height: 2.3em;
        margin-bottom: 5px;

        span {
          color: #fff;
          font-size: 14px;
        }
      }

      ul {
        padding: 1em 0;

        li {
          text-align: left;
          padding: 0 0 1em 0;
          font-size: 13px;
          line-height: 1.6em;
          color: #fff;
          letter-spacing: 0.04em;
        }
      }

      .heading {
        width: auto;
        height: 2.5em;
        line-height: 2.5em;
        color: #984f45;
        font-size: 13px;
        background-color: #ebc9b5;
      }

      .details-table {
        color: #000;
        .el-table__header {
          thead {
            tr,
            th {
              background-color: #984f45 !important;
              font-size: 13px;
              color: #fff;
            }
          }
        }
        .el-table__body {
          tbody {
            tr {
              background-color: #fff;
              .cell {
                font-size: 13px;
                line-height: 1.4em;
                color: #464646;
                
              }
              td:first-child {
                .cell{
                  color: #1D0401;
                }
              }

              td {
                border-bottom: 1px solid #000000;
                color: #000;
                padding: 6px 4px;
              }
              
              .el-table_1_column_1 {
                background-color: #f0e5de !important;
                border-right: 1px solid #c3c3c3;
              }

              .el-table_1_column_2 {
                border-right: 1px solid #c3c3c3;
              }

              .el-table_1_column_3 {
                background-color: #f0e5de !important;
              }

            }
          }
        }
      }
    }
  }


  .el-table__body-wrapper {
    color: #333;
  }

  .el-tabs__item {
    width: 25vw;
    font-size: 13px;
    padding: 0;
    color: #fff;
    background: url("../images/nav_link.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .el-tabs__item.is-active {
    background: url("../images/active.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
  }

  .el-tabs__nav-scroll {
    text-align: center;
  }

  .el-tabs__active-bar {
    background-color: #6a8cd400;
  }

  .el-tabs__nav-wrap::after {
    height: 1px;
    background-color: #1F78BD;
  }

  .el-table th {
    background-color: #328AC6;
    color: #fff;
    padding: 5px;
    font-size: 13px;
  }

  .el-table_1_column_1 {
    background-color: rgb(149, 203, 248);
  }

  .el-table td,
  .el-table th.is-leaf {
    border-bottom: 1px solid #898a8d;
  }

  .msg_rule {
    tr {
      &:nth-child(odd) {
        background-color: #328AC6;
        color: #fff;
      }

      &:nth-child(even) {
        background-color: #fff;
      }

      td {
        font-size: 13px;
        vertical-align: middle;
        line-height: 15px;
      }

      .rule-title {
        width: 9em;
        text-align: left;
      }

      .rule-content {
        text-align: left;
      }
    }
  }

  .red {
    color: rgb(255, 0, 0);
  }
  .point {
    color: #FA6400;
  }
}

.el-message{
  max-width: 90%;
}